.button {
    border: none;   
    color: white ; 
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}

.sucess{background-color: green;}
.error{background-color: red;}
